<main class="container">
<h1>Burger Time!</h1>

<div class="row banner">
    <h2>Time to Stuff Your Face!</h2>
</div>
<div class="row body">
    <div class="col">
        <ul>
            {{#each burger}}
            {{#unless data.devour}}
            <li>
                <form class="burger-form">
                    <label for="customerName">{{data.burgerName}}</label>
                    <input type="text" name="customerName" placeholder="Customer Name" value=""></input>
                    <button class="btn btn-info eatBtn" id="{{data.id}}">Eat It!</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="col">
    <h2>Burgers Doomed to be Consumed</h2>
    <ul>
        {{#each burger}}
        {{#if data.devour}}
        <li>
            {{data.burgerName}} eaten by {{data.customerName}}
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div>
    <h2>Add a Burger</h2>
    <form class="create-item">
        <div class="item-area">
            <input type="text" class="form-control" id="burgerArea" name="name" value="" placeholder="Burger Name"></input>
        </div>
        <button type="submit" class="btn btn-info addBurger">Add Burger</button>
    </form>
</div>
</main>