<main class="container">
<h1>Burger Time!</h1>

<div class="row banner">
    <h2>Burgers Doomed to be Consumed</h2>
</div>
<div class="row body">
    <div class="col">
        <ul>
            {{#each burger}}
            {{#unless data.devour}}
            <li>
                <form class="burger-form">
                    {{this.burger_name}}
                    <button class="btn btn-info eatBtn" id="{{data.id}}">Eat It!</button>
                </form>
            </li>
            {{/unless}}
            {{/each}}
        </ul>
    </div>
</div>

<div class="col">
    <h2>Devoured:</h2>
    <ul>
        {{#each burger}}
        {{#if this.devour}}
        <li>
            {{this.burger_name}} eaten!
        </li>
        {{/if}}
        {{/each}}
    </ul>
</div>

<div>
    <h2>Add a Burger</h2>
    <form class="create-form">
        <div class="form-group">
            <input type="text" class="form-control" id="burgerName" name="name" value="" placeholder="Burger Name"></input>
        </div>
        <button type="submit" class="btn btn-info addburger">Add Burger</button>
    </form>
</div>
</main>